body{
    background-color: #E5E5E5;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h5{
    font-family: 'Playfair Display', serif;
}

nav{
    float: right;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 0 30px 0 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.header > h5{
    display: inline-block;
    padding: 0 0 0 120px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.intro{
    padding: 0rem 7rem;
    width: 35%;
}

.intro-span{
    color: #FDC435;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.intro-title {
    font-size: 64px;
}

.intro-text{
    font-weight: normal;
    color: #828282;
    font-size: 24px;
}

.BtnProjects{
    background-color: #FDC435;
    text-align: center;
    border: solid #FDC435 ;
    border-radius: 8px;
    width: 115px;
    height: 43px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.BtnLinkedIn{
    text-align: center;
    border: 2px solid #25282B;
    border-radius: 8px;
    width: 117px;
    height: 43px;
    margin-left: 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.main-projects {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}

.main-project-body {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.main-protects-title{
    font-size: 48px;
    font-family: 'Playfair Display', serif;
}

hr{
    color: #FDC435;
    width: 100px;
}

.projects-title-underline {
    background-color:#FDC435;
    height: 4px;
    width:5rem;
    border: none;
    border-radius: 2px;
}

/* Project 1 Tiles */

.project-1 {
    display: flex;
    height: 20rem;
    width: 100%;
    padding-top: 5rem;
}

.left-side {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 24px 0px 0px 24px;
}

.right-side {
    width: 50%;
    height: 100%;
    border-radius: 0px 24px 24px 0px;
}

.prj1-title{
    padding: 90px 0 0 50px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.prj1-info{
    padding: 0 0 0 50px;
    width: 65%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.prj1-btn{
    margin: 0 0 0 50px;
    border: solid black;
    border-radius: 24px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/* Project 2 Tiles */

.project-2 {
    display: flex;
    height: 20rem;
    width: 100%;
    padding-top: 5rem;
}
 
.left-side2 {
    width: 50%;
    height: 100%;
    border-radius: 24px 0px 0px 24px;
}

.right-side2 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 0px 24px 24px 0px;
}

.prj2-title{
    padding: 90px 0 0 50px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.prj2-info{
    padding: 0 0 0 50px;
    width: 65%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.prj2-btn{
    margin: 0 0 0 50px;
    border: solid black;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Project 3 Tiles */

.project-3 {
    display: flex;
    height: 20rem;
    width: 100%;
    padding-top: 5rem;
}

.left-side3 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 24px 0px 0px 24px;
}

.right-side3 {
    width: 50%;
    height: 100%;
    border-radius: 0px 24px 24px 0px;
}

.prj3-title{
    padding: 90px 0 0 50px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.prj3-info{
    padding: 0 0 0 50px;
    width: 65%;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.prj3-btn{
    margin: 0 0 0 50px;
    border: solid black;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

/* footer */

.footer{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
}

.socials > img {
    padding: 0px 24px;
}

.footer-name{
    padding-top: 32px;
    font-size: 16px;
    color: #828282;
}